// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// IMPORTS
@import "components/vars";
@import "components/mixin";
@import "components/mediasqueries";
@import "components/general";
@import "components/header";
@import "components/main";
@import "components/section";
@import "components/skills";
@import "components/estudios";
@import "components/footer";

