/*MAIN*/

.logo-main {
    max-width: 17rem;
}

.title {
    font-size: 3rem;
    color: $color-text;
    text-align: center;
}

.sobre-text {
  font-size: 1rem;
  text-align: center;
  color: $color-text;
  font-weight: 500;
  margin: .5rem 0;
  text-transform: capitalize;
}

.texts {
    font-size: 1.4rem;
    color: $orange;
    text-transform: uppercase;
}

.container-main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;

    .content-one {
      display: flex;
      flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;

    

        .download-button {
          position: relative;
          border-width: 0;
          color: $color-text;
          font-size: 15px;
          font-weight: 600;
          border-radius: 4px;
          z-index: 1;
          margin: 1rem 0;
          cursor: pointer;
         }
         
         .download-button .docs {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          min-height: 40px;
          padding: 0 10px;
          border-radius: 4px;
          z-index: 1;
          background-color: $black;
          border: solid 1px #eeeeee;
          transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
         }
         
         .download-button:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
         }
         
         .download {
          position: absolute;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 90%;
          margin: 0 auto;
          z-index: -1;
          border-radius: 4px;
          transform: translateY(0%);
          background-color: #0f9c02;
          border: solid 1px #01e0572d;
          transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
         }
         
         .download-button:hover .download {
          transform: translateY(100%)
         }
         
         .download svg polyline,.download svg line {
          animation: docs 1s infinite;
         }
         
         @keyframes docs {
          0% {
           transform: translateY(0%);
          }
         
          50% {
           transform: translateY(-15%);
          }
         
          100% {
           transform: translateY(0%);
          }
         }
    }

    .content-image {
      display: flex;
      justify-content: center;
      align-items: center;
        transform: translateY(0px);
        animation: float 6s ease-in-out infinite;
    }

    @keyframes float {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translatey(-50px);
        }
        100% {
          transform: translateY(0px);
        }
}

}
