// MIXIN IMAGENES EN UN ETIQUETA

@mixin image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: soft-light;
}

@mixin habilidades {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}