/*SOBRE MI*/

.sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem .5rem;
}

.sobre-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-text;
}

.sobre-text {
    font-size: 1rem;
    text-align: center;
    color: $color-text;
    font-weight: 500;
    margin: .5rem 0;
    text-transform: lowercase;
}

.sobre-icon {
    font-size: 7rem;
    color: $color-text;
    margin: 3rem .5rem;
    padding: 2rem 0;
}