// PALETA DE COLORES

$color-bg: #000A4A;

$color-text: #cecece;

$black: #000000;

$white: #ffffff;

$green: #0BE63E;

$rose: #f5237a;

$orange: #e64e17;


//ICONOS

$instagram: #E1306C;

$github: #171515;

$linkein: #0E76A8;