// PALETA DE COLORES

$color-bg: #000a4a;

$color-text: #cecece;

$black: #000000;

$white: #ffffff;

$green: #0be63e;

$orange: #e64e17;

//ICONOS

$instagram: #e1306c;

$github: #171515;

$linkein: #0e76a8;
